@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Nunito Sans", Arial, sans-serif;
    background-color: #1a1d28;
    color: #fff;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h1 {
    font-size: 30px;
    line-height: 60px;
}

h2 {
    font-size: 70px;
}

p {
    font-size: 20px;
}

header, footer {
    height: 60px;
    background: none;
    background-color: #1c202c;
}

.head, .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

main {
    height: 100dvh;
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
}

video {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    background: transparent;
    opacity: 0.7;
    padding: 300px 0;
    position: relative;
    display: grid;
    place-items: center;
    color: #fff;
}


ul li {
    display: inline;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: all .2s ease-in-out;
    margin-left: 20px;
    padding: 10px 10px;
    background-color: #2d84b7;
    border-radius: 10px;
}
li a:hover {
    background-color: #318fc7;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 50px;
    }
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 18px;
    }
}