@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", "Nunito Sans", Arial, sans-serif;
    background-color: #11121a;
    color: #fff;
    height: 100vh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header, footer {
    height: 60px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h1 , nav ul li {
    line-height: 60px;
}

.head-content {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

.head-content a {
    text-decoration: none;
    transition: all .25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.head-content a:hover {
    color: #2266ff;
}

.menus ul li, #hamburger{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#hamburger {
    cursor: pointer;
}

.menus ul li {
    line-height: 60px;
}

#hamburger, .menus {
    display: none;
}

.navigation .contact {
    padding: 10px 20px;
    background-color: #0000ff;
    border-radius: 5px;
}

.navigation .contact:hover {
    background-color: #11118b;
    color: #fff !important;
}

/*******************************************/
/*************** Hero **********************/
/*******************************************/

main {
    min-height: calc(100vh - 120px);
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.hero h2, p {
    font-size: 30px;
}

.hero p {
    margin-top: 30px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #11121a);
}

/*******************************************/
/*************** About Me ******************/
/*******************************************/

h2 {
    padding-top: 200px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;
}

.myInfo {
    display: flex;
    flex-direction: row;
}

.about-meInfo {
    display: grid;
    place-items: center;
}

/*******************************************/
/*************** Projects ******************/
/*******************************************/

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.pro {
    cursor: pointer;
    background-color: #212232;
    padding: 20px;
    text-align: center;
    outline: none;
    color: #fff;
    border: 1px solid transparent;
}

.pro:hover {
    transition: all .2s ease-in-out;
    outline: none;
    border: 1px solid #4e4eff;
    animation: anim 0.3s linear;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    padding: 17px 20px;
    cursor: pointer;
}

@keyframes anim {
    0% {
        scale: 1.01;

    }

    100% {
        scale: 1.00;
    }
}

.box a {
    margin-top: 20px;
}

.pro h3 {
    margin: 10px 0;
}

/*******************************************/
/*************** Contacts ******************/
/*******************************************/

.contactMe {
    display: grid;
    place-items: center;
}

.contacts {
    text-align: center;
    margin-top: 30px;
}

.link a {
    padding: 0 10px;
}

.contactMe h2 {
    margin-bottom: 30px;
}

.github img {
    filter: invert(1);
}

/*******************************************/
/************ Responsive Design ************/
/*******************************************/

@media (max-width: 910px) {
    nav ul li {
        display: none;
    }
    #hamburger {
        display: block;
    }
    h2{
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }
    .myInfo {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    nav ul li {
        display: none;
    }
    #hamburger {
        display: block;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 20px;
    }
}